<<<<<<< HEAD
body{
  background-color: beige;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
=======
/*
<<<<<<< HEAD
  CSS Global Values
  - inherit
  - initial
  - unset
  --- If Inherit => inherit
  --- If Not => initial
  - revert CSS Level [4]
  - all
=======
  Animation
  - KeyFrames
  - Name
  - Duration
>>>>>>> 7e58c86a96b647c5a6cbbe9a84de49650dc8115b
*/

* {
  box-sizing: border-box;
  margin: 0;
}
<<<<<<< HEAD
[type="checkbox"]:root{
  border: solid 3px black;
}
form{
}
=======
body {
>>>>>>> feee063c453c5d538ce509563de349c5af330a59
  font-family: Arial, Helvetica, sans-serif;
}
.card-one{
  background-color: white;
  width: 150px;
  height: 220px;
  position: relative;
  border-radius: 15px 15px 0 0 ;
}
<<<<<<< HEAD
.card-one::before{
  content: "";
  background-color: red;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 80px;
  border-radius: 15px 15px 0 0 ;
}
.card-one .img-frame{
  width: 68px;
  height: 90px;
  position: absolute;
  background-color: white;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image{
  width: 95%;
  height: 95%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  object-position: right bottom;
}
.text-box{
  position: absolute;
  top: 50%;
 
}
.text-box .text-name{
color: black;
font-weight: bolder;
font-size: 12px;
}
.text-box .text{
  color: black;
  font-size: 10px;
}
.foot{
  background-color: red;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.foot .logo{
width: 15px;
height: 15px;
color: white;
}
=======
@keyframes change-colour{
  0%{
    background-color: white;
  }
  50%{
    background-color: black;
  }
  100%{
    background-color: white;
  }

}
>>>>>>> 7e58c86a96b647c5a6cbbe9a84de49650dc8115b
>>>>>>> feee063c453c5d538ce509563de349c5af330a59
