/*
  CSS Global Values
  - inherit
  - initial
  - unset
  --- If Inherit => inherit
  --- If Not => initial
  - revert CSS Level [4]
  - all
*/

* {
  box-sizing: border-box;
  margin: 0;
}
[type="checkbox"]:root{
  border: solid 3px black;
}
form{
}
